.h1{
    color: black;
}
.bg{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/unsplash_xJ2tjuUHD9M.png');
    background-size: cover;
}
.text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19) ;
    cursor: .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}
