.navbar{
    width: 200px;
    height: 800px;
    padding-left: 10px;
    
}


.navdiv{
    align-items: center;
    text-align: center;
    text-decoration: solid;

}
.navdiv li{
    padding: 100px 10px; 
}
.li{
   background: red; 
}
.li:hover{
    background: greenyellow;
}