.miniBackground{
    background: url('../assets/new.avif');
    width: 100vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.textContainer{
    padding-top: 50px;
    margin-left: 30px;
    display: flex;
    margin-bottom: 75px;
    font-size: 8px;
}
.icons{
    font-size: 4rem;
    color:darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 80px;
    right: 0;
    margin-top: 60px;
   
}
.icons :nth-child(1){
    margin-left: 260px;
}
.sad{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icons :nth-child(3){
    margin-right: 40px;
}

