*{
    margin: 0;
    padding: 0;   
}
.bg{
    position: relative;
}
.navbar{
    position: absolute;
    right: 0;
    z-index: 100;
}

.navbar .navdiv li a{
    background-color: red;
}
.navbar .navdiv a:hover{
    background-color: greenyellow;
    transition: 1s;
}